@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
:root {
  --nav-color: #10101022;
  --background-color: #101010;
  --background-trans-color: #e7e7e7;
  --text-color: #fff;
  --link-color: #3b72e5;
  --border-dark-color: #4d4d4d;
  --sub-text: #c9c9c9;
  --sp-text: linear-gradient(to right, #84abfd, #ffffff, #89a5ff, #84abfd);
  --font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

nav {
  top: 0;
  position: sticky;
  height: 80px;
  background: var(--nav-color);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: var(--text-color);
  border-bottom: 1px solid var(--border-dark-color);
  z-index: 10;
}
nav .nav-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}

#hamburger {
  border: none;
  background: none;
  position: relative;
  width: 80px;
  height: 100%;
  cursor: pointer;
}

.mask {
  z-index: 5;
  overflow: hidden;
}

.nav-menu {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 50%;
  z-index: 20;
  right: 0;
  background: var(--background-color);
  -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
  transition: -webkit-clip-path 0.6s ease;
  transition: clip-path 0.6s ease;
  transition: clip-path 0.6s ease, -webkit-clip-path 0.6s ease;
}
.nav-menu ul {
  list-style-type: none;
  padding: 0;
}
.nav-menu li {
  list-style: none;
}
.nav-menu .nav-button {
  font-size: clamp(2rem, 3vw, 2.5rem);
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-menu .social {
  list-style: none;
  text-decoration: none;
  font-size: clamp(1.2rem, 3vw, 1.3rem);
  font-weight: 400;
  color: var(--text-color);
  position: relative;
}
.nav-menu .social::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--link-color);
  transition: width 0.3s ease;
}
.nav-menu .social:hover::after {
  width: 110%;
  transition: width 0.3s ease;
}

.nav-buttons {
  position: relative;
  grid-column: span 3;
  display: grid;
  height: 100vh;
}

.nav-button {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 2rem 2rem;
  background: var(--background-color);
  border: 1px solid var(--border-dark-color);
  color: var(--text-color);
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.close-menu {
  width: 80px;
  height: 80px;
  margin: 0 0 0 auto;
  cursor: pointer;
  background: none;
  border: none;
  transition: transform 0.3s ease;
}

.close-menu:hover {
  transform: translateX(10px);
  transition: transform 0.3s ease;
}

.socials li {
  position: relative;
  list-style: none;
  margin: 1rem 0;
}

.line1:not(:hover) {
  position: absolute;
  top: 35%;
  right: 0;
  width: 50px;
  height: 2px;
  border-radius: 2px;
  background: var(--link-color);
  transition: 0.5s ease;
}

.line2:not(:hover) {
  position: absolute;
  top: 50%;
  right: 0;
  width: 35px;
  height: 2px;
  border-radius: 2px;
  background: var(--link-color);
  transition: transform 0.5s ease;
}

#hamburger:hover .line1,
#hamburger:hover .line2 {
  top: 50%;
  transform: rotate(90deg) translate(0, -50%);
  transition: transform 0.3s ease;
}

section {
  height: 100vh;
  width: 100%;
}

::-moz-selection {
  color: var(--link-color);
}

::selection,
::-moz-selection,
::-webkit-selection {
  color: var(--link-color);
}

#hero {
  max-width: 2600px;
  max-height: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: calc(100vh - 80px);
  margin: 0 auto;
  border: 1px solid var(--border-dark-color);
  border-top: none;
  width: 100%;
}

#title {
  position: relative;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100;
  border-right: 1px solid var(--border-dark-color);
  background-image: url("../img/waterMark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.side-text {
  display: flex;
  writing-mode: vertical-rl;
  color: var(--link-color);
}

#title h1 {
  font-size: clamp(2.5rem, 6vw, 8rem);
  font-weight: 600;
  margin: 0 auto;
}

.sp-text {
  background: var(--sp-text);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: background-pan 5s linear infinite;
  overflow: hidden;
}

#hero-buttons {
  grid-column: span 2;
  display: grid;
  height: 100%;
  width: 100%;
}

.button {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 2rem 2rem;
  background: var(--background-color);
  border: none;
  color: var(--text-color);
  font-size: clamp(1.8rem, 3vw, 2.5rem);
  font-weight: 400;
  cursor: pointer;
}

.button:nth-child(1),
.button:nth-child(2) {
  border-bottom: 1px solid var(--border-dark-color);
}

.button span,
.nav-button svg {
  position: absolute;
  top: 5%;
  right: 5%;
  transition: all 0.5s ease;
}

.button:hover span,
.nav-button:hover svg {
  top: 2%;
  right: 2%;
  transition: all 0.5s ease;
}

.button:hover,
.nav-button:hover {
  padding: 2rem 2.5rem;
  letter-spacing: 2px;
  transition: all 0.3s ease, padding 0.3s ease 0.2s;
}

.button:not(:hover) {
  transition: all 0.5s ease;
}

#section-cont,
#section-contB {
  margin: 0 auto;
  border: 1px solid var(--border-dark-color);
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 2600px;
  height: clamp(200px, 50vh, 500px);
  position: relative;
  z-index: 2;
}

.section-title,
.section-titleB {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: clamp(3rem, 10vw, 6.5rem);
  font-weight: 500;
}

.content-wrapper {
  height: auto;
  max-width: 2600px;
  margin: 0 auto;
  border: 1px solid var(--border-dark-color);
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  border-top: none;
  z-index: 3;
  position: relative;
  overflow: hidden;
}

.video-container {
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 1;
}

video {
  border: 1px solid var(--border-dark-color);
  filter: grayscale(90%);
  border-radius: 15px;
  width: 100%;
  height: 50vh;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative;
  z-index: 1;
}

.stack {
  font-size: clamp(1.3rem, 3vw, 2rem);
  font-weight: 400;
  flex-direction: column;
  overflow: hidden;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
.stack li {
  padding: 3rem 1rem;
  list-style: none;
  border-bottom: 1px solid var(--border-dark-color);
  overflow: hidden;
}
.stack li:last-child,
.stack li:nth-last-child(2) {
  border-bottom: none;
}

#stats {
  margin: 0 auto;
  border: 1px solid var(--border-dark-color);
  border-top: none;
  width: 100%;
  max-width: 2600px;
  height: auto;
  position: relative;
}

.stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  place-content: center;
}

.stats {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(1rem, 10vw, 1.15rem);
  font-weight: 400;
  border: 1px solid var(--border-dark-color);
  color: var(--border-dark-color);
}

.stats h1 {
  color: var(--background-color);
  font-size: clamp(3rem, 10vw, 8rem);
}

.stats p {
  width: 90%;
}

#testimonials {
  margin: 0 auto;
  max-width: 2600px;
  height: auto;
  min-height: 100%;
  border: 1px solid var(--border-dark-color);
  background-color: var(--background-color);
  position: relative;
  z-index: 2;
}

.testimonial-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.testimonial-title {
  width: 80%;
  margin: 5% auto;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: 500;
  color: var(--text-color);
}

.testimonial-card {
  height: 85vh;
  max-height: 1020px;
  margin: 0 auto;
  border-right: 1px solid var(--border-dark-color);
  border-top: 1px solid var(--border-dark-color);
  position: relative;
}

.testimonial-card:last-child {
  border-right: none;
}

.testimonial-img {
  width: 90%;
  margin: 5% auto;
}

.testimonial-img img {
  border-radius: 50%;
}

.testimonial-description {
  width: 90%;
  margin: 0 auto;
  font-weight: 400;
  color: var(--sub-text);
  font-size: clamp(1rem, 3vw, 1.2rem);
  line-height: 180%;
}

.testimonial-description h1 {
  font-weight: 500;
  color: var(--text-color);
  font-size: clamp(1.5rem, 3vw, 2rem);
  margin-bottom: 2rem;
}

.testimonial-button {
  width: auto;
  height: 20px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
}

.testimonial-button a {
  text-decoration: none;
}

.testimonial-button a button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  text-decoration: none;
  color: var(--link-color);
  font-size: clamp(1rem, 3vw, 1.2rem);
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.testimonial-button a button svg {
  padding-right: 0.5rem;
  transition: all 0.3s ease;
}

.testimonial-button a:hover button svg,
.testimonial-button a:hover button {
  padding-right: 0;
  gap: 1rem;
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .stack {
    width: 100vw;
  }
  .nav-menu {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .socials {
    grid-column: span 1;
  }
  .nav-buttons {
    grid-column: span 1;
  }
  #hero {
    grid-template-columns: 1fr;
  }
  .content-wrapper {
    grid-template-columns: 1fr;
  }
  .stack {
    grid-column: span 1;
  }
  .button:nth-child(1) {
    border-top: 1px solid var(--border-dark-color);
  }
  .stats-container {
    grid-template-columns: 1fr;
  }
  .testimonial-container {
    grid-template-columns: 1fr;
  }
}
@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}/*# sourceMappingURL=main.css.map */